@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%; /* #ffe9e4 */
    --foreground: 10 21% 29%; /* #5a3f38 */
    --text: 0 0% 6%;
    --foreground-muted: 12 22% 55%; /* #9d837d */
    --border: 12 22% 55%; /* #9d837d */
    --primary: 13, 82%, 51%; /* #e8471a */
    --primary-foreground: 0 0% 100%;
    --primary-btn: 14, 100%, 34%;
    --secondary: 13, 51%, 49%; /* #be593e */
    --secondary-btn: 12, 100%, 93%;
    --secondary-foreground: 0 0% 100%;
    --tertiary: 204, 100%, 43%; /* #0084dc */
    --neutral: 12, 12%, 48%; /* #89726c */
    --inverted-btn: 11, 22%, 20%;
    --card: 13 100% 94%; /* same as background */
    --card-foreground: 10 21% 29%; /* same as foreground */
    --popover: 13 100% 94%;
    --popover-foreground: 10 21% 29%;
    --muted: 12 22% 55%; /* same as foreground-muted */
    --muted-foreground: 12 22% 55%;
    --accent: 210 100% 43%; /* same as tertiary */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --input: 12 22% 55%; /* same as border */
    --ring: 16 82% 50%; /* same as primary */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%; /* #0f0f0f */
    --foreground: 20 10% 95%; /* #f5f0ef */
    --text: 0, 0%, 100%;
    --primary: 13, 82%, 51%;
    --primary-btn: 12, 100%, 82%;
    --secondary: 161, 69%, 37%;
    --secondary-btn: 11, 24%, 17%;
    --tertiary: 204, 100%, 43%;
    --neutral: 12, 12%, 48%;
    --inverted-btn: 11, 79%, 91%;
    --foreground-muted: 0 0% 54%; /* #8a8a8a */
    --border: 0 0% 19%; /* #313131 */
    --card: 0 0% 10%;
    --card-foreground: 20 10% 95%;
    --popover: 0 0% 10%;
    --popover-foreground: 20 10% 95%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 55%;
    --input: 0 0% 19%; /* same as border */
    --ring: 16 82% 50%; /* primary stays same in dark */
  }
}
