@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffe9e4;
    --foreground: #5a3f38;
    --foreground-muted: #9d837d;
    --border: #9d837d;
    --primary: #e8471a;
    --secondary: #be593e;
    --tertiary: #0084dc;
    --neutral: #89726c;
  }

  .dark {
    --background: #0f0f0f;
    --border: #313131;
  }
}
